:root {
  --primary-color: black;
  --secondary-color: #f5dfde;
  --accent-color: rgb(27, 27, 27);
}

.navbar ul li a {
  font-family: "Poppins", sans-serif;
  color: var(--accent-color);
  font-size: 15px;
}

.navbar-brand {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

p {
  font-size: 17px;
  font-weight: 600;
  color: var(--primary-color);
  font-family: "Merriweather", serif;
}

header small {
  font-size: 40px;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 85px;
  font-weight: 400;
  text-shadow: 7px 7px 10px rgba(0, 0, 0, 0.8);
}

h1 span {
  font-family: "Merriweather", serif;
  font-size: 47px;
}

h1 small {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  color: var(--accent-color);
}

h3 {
  font-family: "Poppins", sans-serif;
}

.header-section {
  max-width: 1512px;
  background-color: #ceadab;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgb(192, 112, 41, 0.3)),
    url("../images/christina-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: left;
  padding: 300px 0;
}

.header-section .main-paragraph {
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: var(--accent-color);
}

.featured-blog-section .blog:hover {
  background-color: var(--secondary-color);
}

.featured-blog-section img {
  border-radius: 10px;
}

.featured-blog-section .blog img:hover {
  transform: scale(1.075);
}

.christian-group-section {
  max-width: 1512px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgb(0, 0, 0, 0.4)),
    url("../images/christian-group.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  padding: 200px 0;
}

.blog-image-section {
  border: 1px solid --primary-color;
  border-radius: 10px;
  padding: 40px;
  margin: 25px;
}

.blog-image-section .blog-button {
  font-family: "DM Serif Display", serif;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 7px;
  text-decoration: none;
  color: black;
}

.blog:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.about-section h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 500;
}

.about-section .social-media {
  font-size: 20px;
}

footer {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

footer span .up-to-the-top-arrow {
  position: fixed;
  bottom: 40px;
  right: 50px;
}

.instagram-link {
  text-decoration: none;
  color: rgb(27, 27, 27);
}

.github-link {
  text-decoration: none;
}

.gallery-section {
  margin: 50px 75px;
}

.gallery-section .trip-img {
  margin: 10px;
}

.blog-header {
  align-items: center;
}
.blog-header h1 {
  font-family: "Cinzel Decorative", serif;
  font-size: 70px;
  font-weight: 800;
  opacity: 0.9;
  margin-top: 30px;
}

.blog-header h2 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 17px;
  opacity: 0.7;
}

.blog-article p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 0;
  margin-top: 0;
  font-weight: 400;
}

.rows p {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
}

.blog-article i {
  font-weight: 600;
}

.blog-article b {
  font-weight: 700;
}

.social-media-section h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.social-media-section {
  margin-left: 475px;
  margin-right: 475px;
}

.social-media-section ul li {
  list-style: none;
}

footer .blog-footer {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

@media (max-width: 576px) {
  .second-navbar {
    display: none;
  }
}

@media (min-width: 768px) {
  .blog-header img {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    max-height: 800px;
  }
}

@media (max-width: 768px) {
  .larger-navbar {
    display: none;
  }

  .blog-header h1 {
    font-size: 45px;
  }

  .blog-header h2 {
    font-size: 12px;
    margin-left: 22px;
  }

  .blog-article p {
    margin-left: 20px;
    margin-right: 20px;
  }

  .contact-section h5 .social-media {
    font-size: 7px;
  }
}

@media (max-width: 991.98px) {
  .navbar li a {
    margin: 7px;
    padding: 0;
  }
}

@media (min-height: 991.98px) and (max-height: 1199.98px) {
  .contact-section h4 {
    font-size: 35px;
  }

  .contact-section h5 {
    font-size: 35px;
  }
}
